<div class="container">
  <img src="fondos/fondo.png" alt="fondo" class="fondo">

  <div class="login-container">
    <div class="login-card">
      <img src="logo/logo.png" alt="Logo Flappy Technology" class="logo" (click)="gotHome()">
      <h2 class="titulo">Registrarse</h2>

      <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()">
        
        <!-- Nombre -->
        <input formControlName="nombre" type="text" placeholder="Nombre" required maxlength="30"
          pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$" title="Solo letras, sin caracteres especiales. Máximo 30 caracteres.">

        <!-- Apellido -->
        <input formControlName="apellido" type="text" placeholder="Apellido" required maxlength="30"
          pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$" title="Solo letras, sin caracteres especiales. Máximo 30 caracteres.">

        <!-- Correo electrónico -->
        <input formControlName="correo" type="email" placeholder="Correo electrónico" required maxlength="40"
          pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com|hotmail\.com|ecci\.edu\.co)$"
          title="El correo debe ser válido y pertenecer a los dominios: @gmail.com, @yahoo.com, @hotmail.com o @ecci.edu.co" />

       <input formControlName="contrasena" type="password" placeholder="Contraseña" required
          pattern="^(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$"
          title="Debe tener al menos 6 caracteres, una mayúscula y un carácter especial." />


        <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>

        <button type="button" (click)="goToLogin()">Volver al login</button>

      </form>

      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
  </div>
</div>
