<div class="container">
  <img src="fondos/fondo.png" alt="fondo" class="fondo">

  <div class="login-container">
    <div class="login-card">
      <img src="logo/logo.png" alt="Logo Flappy Technology" class="logo" (click)="gotHome()">
      <h2 class="titulo">Registrarse</h2>

      <form #form="ngForm" (ngSubmit)="crearUsuario()">

        <input type="text" [(ngModel)]="nombre" placeholder="Nombre" name="nombre" required maxlength="30"
          pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
          title="Solo letras, sin caracteres especiales. Máximo 30 caracteres.">

        <input type="text" [(ngModel)]="apellido" placeholder="Apellido" name="apellido" required maxlength="30"
          pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
          title="Solo letras, sin caracteres especiales. Máximo 30 caracteres.">

        <input formControlName="correo" type="email" placeholder="Correo electrónico" required 
          maxlength="20" 
          pattern="^[a-zA-Z0-9]{4,}@(gmail\.com|yahoo\.com|hotmail\.com|[a-zA-Z0-9-]{4,}\.(com|org|net|edu|gov|info|es|co\.(edu|gov)))$" 
          title="El correo debe ser válido. Gmail, Yahoo y Hotmail deben terminar en .com. Otros dominios pueden ser .com, .edu.co, .gov.co, etc. No más de 20 caracteres." />

        <input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" name="password" required minlength="4"
          title="Mínimo 4 caracteres.">

        <button type="submit" [disabled]="!form.valid">Registrarse</button>
        <button type="button" (click)="goToLogin()">Volver al login</button>

      </form>

      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
  </div>
</div>