<div class="container">
  <img src="fondos/fondo.png" alt="fondo" class="fondo">

  <div class="login-container">
    <div class="login-card">
      <img src="logo/logo.png" alt="Logo Flappy Technology" class="logo">
      <h2 class="titulo">Registrarse</h2>

      <form #form="ngForm" (ngSubmit)="crearUsuario()">

        <input type="text" [(ngModel)]="nombre" placeholder="Nombre" name="nombre" required>

        <input type="text" [(ngModel)]="apellido" placeholder="Apellido" name="apellido" required>

        <input type="email" [(ngModel)]="correo" placeholder="Correo electrónico" name="email" required>

        <input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" name="password" required>

        <button type="submit" [disabled]="!form.valid">Registrarse</button>
        <button type="button" (click)="goToLogin()">Volver al login</button>

      </form>

      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
  </div>
</div>
