<nav class="nav">
  <div>
    <img src="logo/logo_white.png" alt="logo" class="logo_nav" />
  </div>

  <div class="section-filter">
    <div *ngIf="rutaActualEsHomeOQuienes" routerLink="" class="link">
      Inicio
    </div>

    <div *ngIf="rutaActualEsHomeOQuienes" routerLink="/quienes-somos" class="link">
      Nosotros
    </div>

    <div *ngIf="rutaActualEsHomeOQuienes" routerLink="/tienda" class="link">
      Tienda
    </div>
  </div>

  <div class="user-icon-container">
    <i class="fa-solid fa-user" (click)="verificarUsuario()"></i>

    <div *ngIf="usuario && mostrarInfo" class="user-popup">
      <p><strong>Nombre:</strong> {{ usuario?.nombre }} {{ usuario?.apellido }}</p>
      <p><strong>Email:</strong> {{ usuario?.correo }}</p>
      <p><strong>ID:</strong> {{ usuario?.id_user }}</p>
      <p><strong>Tipo de usuario:</strong> {{ usuario?.tipo_user }}</p>

      <button class="logout-btn" (click)="cerrarSesion()">Cerrar sesión</button>

      <div class="gestion-buttons">
        <button class="action-btn" (click)="toggleActualizar()">Actualizar usuario</button> 
<button class="action-btn" (click)="deactivateUser()">Desactivar usuario</button>

      </div>

      <div *ngIf="mostrarActualizar" class="form-container">
        <h4>Actualizar Usuario</h4>
        <form [formGroup]="editForm" (ngSubmit)="updateUser()">
          <input formControlName="id_user" type="number" placeholder="ID" readonly />

          <input formControlName="nombre" type="text" placeholder="Nombre" />
          <div *ngIf="editForm.get('nombre')?.touched && editForm.get('nombre')?.invalid" class="mensaje-error">
            Nombre inválido. Debe tener letras.
          </div>

          <input formControlName="apellido" type="text" placeholder="Apellido" />
          <div *ngIf="editForm.get('apellido')?.touched && editForm.get('apellido')?.invalid" class="mensaje-error">
            Apellido inválido. Debe tener letras.
          </div>

          <input formControlName="correo" type="email" placeholder="Correo electrónico" readonly />

          <input formControlName="contrasena" type="password" placeholder="Contraseña" />
          <div *ngIf="editForm.get('contrasena')?.touched && editForm.get('contrasena')?.invalid" class="mensaje-error">
            La contraseña debe tener al menos 6 caracteres, una mayúscula y un carácter especial.
          </div>

          <button type="submit" class="update-btn" [disabled]="editForm.invalid">Actualizar</button>
        </form>

        <div *ngIf="mensaje" class="mensaje-success">{{ mensaje }}</div>
        <div *ngIf="error" class="mensaje-error">{{ error }}</div>
      </div>
    </div>
  </div>
</nav>
