<nav class="nav">
    <div routerLink="">
      <img src="logo/logo_white.png" alt="" class="logo_nav">
    </div>
    <!-- <button routerLink="/register" style="background-color: #2979ff; color: white; border: none; padding: 0.5rem 1rem; border-radius: 5px; cursor: pointer;">
      Crear cuenta
    </button>
    
    <button routerLink="/login" style="background-color: #2979ff; color: white; border: none; padding: 0.5rem 1rem; border-radius: 5px; cursor: pointer;">
      cuenta
    </button> -->
  </nav>
  