<div class="filtros">
  <h2 (click)="toggleFilterOptions()">Gestión de Productos</h2>
  <div class="btn-filtros" *ngIf="filterOptionsVisible">
    <button (click)="selectFilter('crear')">Crear Producto</button>
    <button (click)="selectFilter('editar')">Editar Producto</button>
    <button (click)="selectFilter('eliminar')">Eliminar Producto</button>
    <button (click)="selectFilter('buscar')">Buscar Producto</button>
  </div>
</div>

<div *ngIf="selectedFilter === 'crear'" class="section-form">
  <h2>Crear Producto</h2>
  <form [formGroup]="createForm" (ngSubmit)="createProduct()" class="form-group">
    <input type="text" formControlName="nombre" placeholder="Nombre"
      [ngClass]="{'input-error': createForm.get('nombre')?.invalid && createForm.get('nombre')?.touched}"
      required maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$">
    <div *ngIf="createForm.get('nombre')?.invalid && createForm.get('nombre')?.touched" class="mensaje-error">
      Nombre inválido. Solo letras, máximo 30 caracteres.
    </div>

    <input type="text" formControlName="descripcion" placeholder="Descripción"
      [ngClass]="{'input-error': createForm.get('descripcion')?.invalid && createForm.get('descripcion')?.touched}"
      required maxlength="100">
    <div *ngIf="createForm.get('descripcion')?.invalid && createForm.get('descripcion')?.touched" class="mensaje-error">
      Descripción requerida (máx. 100 caracteres).
    </div>

    <input type="number" formControlName="valor_unitario" placeholder="Valor Unitario"
      [ngClass]="{'input-error': createForm.get('valor_unitario')?.invalid && createForm.get('valor_unitario')?.touched}"
      required min="0" max="99999" oninput="this.value=this.value.slice(0,5)">
    <div *ngIf="createForm.get('valor_unitario')?.invalid && createForm.get('valor_unitario')?.touched" class="mensaje-error">
      Solo números positivos.
    </div>

    <input type="text" formControlName="proveedor" placeholder="Proveedor"
      [ngClass]="{'input-error': createForm.get('proveedor')?.invalid && createForm.get('proveedor')?.touched}"
      required maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$">
    <div *ngIf="createForm.get('proveedor')?.invalid && createForm.get('proveedor')?.touched" class="mensaje-error">
      Proveedor inválido. Solo letras, máximo 30 caracteres.
    </div>

    <button type="submit" [disabled]="createForm.invalid">Crear</button>
  </form>
  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<div *ngIf="selectedFilter === 'editar'" class="section-form">
  <h2>Editar Producto</h2>
  <form [formGroup]="editForm" (ngSubmit)="updateProduct()" class="form-group">
    <input type="number" formControlName="id_prod" placeholder="ID del Producto"
      [ngClass]="{'input-error': editForm.get('id_prod')?.invalid && editForm.get('id_prod')?.touched}"
      required min="1" max="99999" oninput="this.value=this.value.slice(0,5)">
    <div *ngIf="editForm.get('id_prod')?.invalid && editForm.get('id_prod')?.touched" class="mensaje-error">
      ID inválido (mayor a 0).
    </div>

    <input type="text" formControlName="nombre" placeholder="Nuevo Nombre"
      [ngClass]="{'input-error': editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched}"
      required maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$">
    <div *ngIf="editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched" class="mensaje-error">
      Nombre inválido.
    </div>

    <input type="text" formControlName="descripcion" placeholder="Nueva Descripción"
      [ngClass]="{'input-error': editForm.get('descripcion')?.invalid && editForm.get('descripcion')?.touched}"
      required maxlength="100">
    <div *ngIf="editForm.get('descripcion')?.invalid && editForm.get('descripcion')?.touched" class="mensaje-error">
      Descripción requerida.
    </div>

    <input type="number" formControlName="valor_unitario" placeholder="Nuevo Valor Unitario"
      [ngClass]="{'input-error': editForm.get('valor_unitario')?.invalid && editForm.get('valor_unitario')?.touched}"
      required min="0" max="99999" oninput="this.value=this.value.slice(0,5)">
    <div *ngIf="editForm.get('valor_unitario')?.invalid && editForm.get('valor_unitario')?.touched" class="mensaje-error">
      Valor inválido.
    </div>

    <input type="text" formControlName="proveedor" placeholder="Nuevo Proveedor"
      [ngClass]="{'input-error': editForm.get('proveedor')?.invalid && editForm.get('proveedor')?.touched}"
      required maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$">
    <div *ngIf="editForm.get('proveedor')?.invalid && editForm.get('proveedor')?.touched" class="mensaje-error">
      Proveedor inválido.
    </div>

    <button type="submit" [disabled]="editForm.invalid">Actualizar</button>
  </form>
  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<div *ngIf="selectedFilter === 'eliminar'" class="section-form">
  <h2>Eliminar Producto</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="deleteProduct(deleteForm.value.id_prod)" class="form-group">
    <input type="number" formControlName="id_prod" placeholder="ID del Producto a Eliminar"
      [ngClass]="{'input-error': deleteForm.get('id_prod')?.invalid && deleteForm.get('id_prod')?.touched}"
      required min="1" max="99999" oninput="this.value=this.value.slice(0,5)">
    <div *ngIf="deleteForm.get('id_prod')?.invalid && deleteForm.get('id_prod')?.touched" class="mensaje-error">
      ID inválido.
    </div>
    <button type="submit" [disabled]="deleteForm.invalid">Eliminar</button>
  </form>
  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<div *ngIf="selectedFilter === 'buscar'" class="section-form">
  <h2>Buscar Producto</h2>
  <form [formGroup]="buscarForm" (ngSubmit)="buscarProductoPorId(buscarForm.value.id_prod)" class="form-group">
    <input type="number" formControlName="id_prod" placeholder="ID del Producto a Buscar"
      [ngClass]="{'input-error': buscarForm.get('id_prod')?.invalid && buscarForm.get('id_prod')?.touched}"
      required min="1" max="99999" oninput="this.value=this.value.slice(0,5)">
    <div *ngIf="buscarForm.get('id_prod')?.invalid && buscarForm.get('id_prod')?.touched" class="mensaje-error">
      ID inválido.
    </div>
    <button type="submit" [disabled]="buscarForm.invalid">Buscar</button>
  </form>

  <div *ngIf="productoEncontrado">
    <div class="section-form">
      <h2>Producto Encontrado</h2>
      <table>
        <thead>
          <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Valor Unitario</th>
            <th>Proveedor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ search.id_prod }}</td>
            <td>{{ search.nom_prod }}</td>
            <td>{{ search.descripcion }}</td>
            <td>{{ search.valor_unitario | currency:'COP' }}</td>
            <td>{{ search.proveedor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<div class="section-form">
  <h2>Productos</h2>
  <table>
    <thead>
      <tr>
        <th>ID Producto</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Valor Unitario</th>
        <th>Proveedor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.id_prod }}</td>
        <td>{{ prod.nom_prod }}</td>
        <td>{{ prod.descripcion }}</td>
        <td>{{ prod.valor_unitario | currency:'COP' }}</td>
        <td>{{ prod.proveedor }}</td>
      </tr>
    </tbody>
  </table>
</div>
