<div class="section-form">
  <h2>Ventas</h2>
  <table>
    <thead>
      <tr>
        <th>Id Venta</th>
        <th>Id Usuario</th>
        <th>Nombre</th>
        <th>Id Producto</th>
        <th>Producto</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Código Compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td>{{ sale.id_venta }}</td>
        <td>{{ sale.fk_user }}</td>
        <td>{{ sale.nombre_usuario + ' ' + sale.apellido_usuario}}</td>
        <td>{{ sale.fk_prod }}</td>
        <td>{{ sale.nombre_producto }}</td>
        <td>{{ sale.fk_estado }}</td>
        <td>{{ sale.fecha }}</td>
        <td>{{ sale.hora }}</td>
        <td>{{ sale.cantidad }}</td>
        <td>{{ sale.costo_total }}</td>
        <td>{{ sale.cod_compra }}</td>
      </tr>
    </tbody>
  </table>
</div>
