<div class="container">
    <img src="fondos/fondo.png" alt="fondo" class="fondo">
    <div class="quienes-container">
        <h1>¿Quiénes somos?</h1>
        <p>
            <strong>Flappy Technology S.A.S.</strong> es una empresa tecnológica en crecimiento, enfocada en ofrecer soluciones innovadoras para el comercio electrónico...
        </p>
        <p>
            Nuestra plataforma fue diseñada con tecnologías modernas como <strong>Angular</strong>, <strong>Node.js</strong> y <strong>PostgreSQL</strong>...
        </p>

        <h2>Misión</h2>
        <p>
            Desarrollar soluciones tecnológicas accesibles, funcionales y escalables...
        </p>

        <h2>Visión</h2>
        <p>
            Ser líderes en el desarrollo de plataformas e-commerce inteligentes en Latinoamérica...
        </p>

        <h2> Nuestro Enfoque</h2>
        <ul>
            <li>Interfaz amigable adaptada a cada tipo de usuario.</li>
            <li>Gestión de stock en tiempo real.</li>
            <li>Simulación de compras con validaciones automáticas.</li>
            <li>Seguridad en el manejo de datos de usuarios.</li>
            <li>Arquitectura escalable basada en el modelo de vistas 4+1.</li>
        </ul>

        <h2>Nuestro equipo</h2>
        <p>Proyecto desarrollado por:</p>
        <ul>
            <li><strong>Bryan Alexander Betancourt Rojas</strong></li>
            <li><strong>Daniel Felipe Castro Lizarazo</strong></li>
        </ul>
    </div>

</div>

<app-footer></app-footer>