<div class="filtros">
  <h2 (click)="toggleFilterOptions()">Gestión de Usuarios</h2>
  <div class="btn-filtros" *ngIf="filterOptionsVisible">
    <button (click)="selectFilter('crear')">Crear Usuario</button>
    <button (click)="selectFilter('editar')">Editar Usuario</button>
    <button (click)="selectFilter('buscar')">Buscar Usuario</button>
    <button (click)="selectFilter('eliminar')">Eliminar Usuario</button>
  </div>
</div>

<!-- CREAR USUARIO -->
<div *ngIf="selectedFilter === 'crear'" class="section-form">
  <h2>Crear Usuario</h2>
  <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()" class="form-group">
    <!-- Nombre -->
    <input formControlName="nombre" type="text" placeholder="Nombre" required maxlength="30"
      pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      title="Solo letras, sin caracteres especiales. Máximo 30 caracteres."
      [ngClass]="{'input-error': registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched}" />
    <div *ngIf="registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched" class="mensaje-error">
      El nombre es obligatorio.
    </div>
    <div *ngIf="registerForm.get('nombre')?.errors?.['pattern'] && registerForm.get('nombre')?.touched" class="mensaje-error">
      Solo letras, sin caracteres especiales.
    </div>

    <!-- Apellido -->
    <input formControlName="apellido" type="text" placeholder="Apellido" required maxlength="30"
      pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      title="Solo letras, sin caracteres especiales. Máximo 30 caracteres."
      [ngClass]="{'input-error': registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched}" />
    <div *ngIf="registerForm.get('apellido')?.errors?.['required'] && registerForm.get('apellido')?.touched" class="mensaje-error">
      El apellido es obligatorio.
    </div>
    <div *ngIf="registerForm.get('apellido')?.errors?.['pattern'] && registerForm.get('apellido')?.touched" class="mensaje-error">
      Solo letras, sin caracteres especiales.
    </div>

    <!-- Correo -->
    <input formControlName="correo" type="email" placeholder="Correo electrónico" required maxlength="40"
      pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com|hotmail\.com|ecci\.edu\.co)$"
      title="El correo debe ser válido y pertenecer a los dominios: @gmail.com, @yahoo.com, @hotmail.com o @ecci.edu.co"
      [ngClass]="{'input-error': registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched}" />
    <div *ngIf="registerForm.get('correo')?.errors?.['required'] && registerForm.get('correo')?.touched" class="mensaje-error">
      El correo es obligatorio.
    </div>
    <div *ngIf="registerForm.get('correo')?.errors?.['pattern'] && registerForm.get('correo')?.touched" class="mensaje-error">
      El correo debe ser de los dominios permitidos.
    </div>

    <!-- Contraseña -->
    <input formControlName="contrasena" type="password" placeholder="Contraseña" required
      pattern="^(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$"
      title="Debe tener al menos 6 caracteres, una mayúscula y un carácter especial."
      [ngClass]="{'input-error': registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched}" />
    <div *ngIf="registerForm.get('contrasena')?.errors?.['required'] && registerForm.get('contrasena')?.touched" class="mensaje-error">
      La contraseña es obligatoria.
    </div>
    <div *ngIf="registerForm.get('contrasena')?.errors?.['pattern'] && registerForm.get('contrasena')?.touched" class="mensaje-error">
      Debe tener al menos 6 caracteres, una mayúscula y un carácter especial.
    </div>

    <!-- Tipo de Usuario -->
    <input id="tipo_user" type="number" formControlName="tipo_user" placeholder="Tipo de Usuario (1, 2 o 3)" required min="1" max="3"
      oninput="this.value=this.value.slice(0,1)"
      [ngClass]="{'input-error': registerForm.get('tipo_user')?.invalid && registerForm.get('tipo_user')?.touched}" />
    <div *ngIf="registerForm.get('tipo_user')?.errors?.['required'] && registerForm.get('tipo_user')?.touched" class="mensaje-error">
      Tipo de usuario es obligatorio (1, 2 o 3).
    </div>
    <div *ngIf="registerForm.get('tipo_user')?.errors?.['max'] && registerForm.get('tipo_user')?.touched" class="mensaje-error">
      El tipo de usuario no puede ser mayor a 3.
    </div>
    <div *ngIf="registerForm.get('tipo_user')?.errors?.['min'] && registerForm.get('tipo_user')?.touched" class="mensaje-error">
      El tipo de usuario no puede ser menor a 1.
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
  </form>

  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<!-- EDITAR USUARIO -->
<div *ngIf="selectedFilter === 'editar'" class="section-form">
  <h2>Editar Usuario</h2>
  <form [formGroup]="editForm" (ngSubmit)="updateUser()" class="form-group">

    <!-- ID Usuario -->
    <input type="number" formControlName="id_user" placeholder="ID del Usuario" required max="99999"
      oninput="this.value=this.value.slice(0,5)"
      [ngClass]="{'input-error': editForm.get('id_user')?.invalid && editForm.get('id_user')?.touched}" />
    <div *ngIf="editForm.get('id_user')?.errors?.['required'] && editForm.get('id_user')?.touched" class="mensaje-error">
      El ID del usuario es obligatorio.
    </div>
    <div *ngIf="editForm.get('id_user')?.errors?.['max'] && editForm.get('id_user')?.touched" class="mensaje-error">
      El ID no puede ser mayor a 99999.
    </div>

    <!-- Nombre -->
    <input type="text" formControlName="nombre" placeholder="Nombre" maxlength="30" required
      pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      title="Solo letras, sin caracteres especiales. Máximo 30 caracteres."
      [ngClass]="{'input-error': editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched}" />
    <div *ngIf="editForm.get('nombre')?.errors?.['required'] && editForm.get('nombre')?.touched" class="mensaje-error">
      El nombre es obligatorio.
    </div>
    <div *ngIf="editForm.get('nombre')?.errors?.['pattern'] && editForm.get('nombre')?.touched" class="mensaje-error">
      Solo letras, sin caracteres especiales.
    </div>

    <!-- Apellido -->
    <input type="text" formControlName="apellido" placeholder="Apellido" maxlength="30" required
      pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      title="Solo letras, sin caracteres especiales. Máximo 30 caracteres."
      [ngClass]="{'input-error': editForm.get('apellido')?.invalid && editForm.get('apellido')?.touched}" />
    <div *ngIf="editForm.get('apellido')?.errors?.['required'] && editForm.get('apellido')?.touched" class="mensaje-error">
      El apellido es obligatorio.
    </div>
    <div *ngIf="editForm.get('apellido')?.errors?.['pattern'] && editForm.get('apellido')?.touched" class="mensaje-error">
      Solo letras, sin caracteres especiales.
    </div>

    <!-- Correo DESHABILITADO para evitar cambio -->
    <input type="email" formControlName="correo" placeholder="Correo electrónico" maxlength="40" required
      pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com|hotmail\.com|ecci\.edu\.co)$"
      title="El correo debe ser válido y pertenecer a los dominios: @gmail.com, @yahoo.com, @hotmail.com o @ecci.edu.co"
      [disabled]="true"
      [ngClass]="{'input-error': editForm.get('correo')?.invalid && editForm.get('correo')?.touched}" />
    <div *ngIf="editForm.get('correo')?.errors?.['required'] && editForm.get('correo')?.touched" class="mensaje-error">
      El correo es obligatorio.
    </div>
    <div *ngIf="editForm.get('correo')?.errors?.['pattern'] && editForm.get('correo')?.touched" class="mensaje-error">
      El correo debe ser de los dominios permitidos.
    </div>

    <!-- Contraseña -->
    <input type="password" formControlName="contrasena" placeholder="Contraseña" required
      pattern="^(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$"
      title="Debe tener al menos 6 caracteres, una mayúscula y un carácter especial."
      [ngClass]="{'input-error': editForm.get('contrasena')?.invalid && editForm.get('contrasena')?.touched}" />
    <div *ngIf="editForm.get('contrasena')?.errors?.['required'] && editForm.get('contrasena')?.touched" class="mensaje-error">
      La contraseña es obligatoria.
    </div>
    <div *ngIf="editForm.get('contrasena')?.errors?.['pattern'] && editForm.get('contrasena')?.touched" class="mensaje-error">
      Debe tener al menos 6 caracteres, una mayúscula y un carácter especial.
    </div>

    <!-- Tipo de Usuario -->
    <input id="tipo_user_edit" type="number" formControlName="tipo_user" placeholder="Tipo de Usuario (1, 2 o 3)" required min="1" max="3"
      oninput="this.value=this.value.slice(0,1)"
      [ngClass]="{'input-error': editForm.get('tipo_user')?.invalid && editForm.get('tipo_user')?.touched}" />
    <div *ngIf="editForm.get('tipo_user')?.errors?.['required'] && editForm.get('tipo_user')?.touched" class="mensaje-error">
      Tipo de usuario es obligatorio (1, 2 o 3).
    </div>
    <div *ngIf="editForm.get('tipo_user')?.errors?.['max'] && editForm.get('tipo_user')?.touched" class="mensaje-error">
      El tipo de usuario no puede ser mayor a 3.
    </div>
    <div *ngIf="editForm.get('tipo_user')?.errors?.['min'] && editForm.get('tipo_user')?.touched" class="mensaje-error">
      El tipo de usuario no puede ser menor a 1.
    </div>

    <button type="submit" [disabled]="editForm.invalid">Actualizar</button>
  </form>

  <div *ngIf="mensaje" class="mensaje-success">
    {{ mensaje }}
  </div>

  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
</div>

<!-- BUSCAR USUARIO -->
<div *ngIf="selectedFilter === 'buscar'" class="section-form">
  <h2>Buscar Usuario</h2>
  <form [formGroup]="buscarForm" (ngSubmit)="buscarUsuarioPorId(buscarForm.value.id_user)" class="form-group">

    <input type="number" formControlName="id_user" placeholder="ID del Usuario a Buscar" max="99999"
      oninput="this.value=this.value.slice(0,5)"
      [ngClass]="{'input-error': buscarForm.get('id_user')?.invalid && buscarForm.get('id_user')?.touched}" />
    <div *ngIf="buscarForm.get('id_user')?.errors?.['required'] && buscarForm.get('id_user')?.touched" class="mensaje-error">
      El ID del usuario es obligatorio.
    </div>
    <div *ngIf="buscarForm.get('id_user')?.errors?.['max'] && buscarForm.get('id_user')?.touched" class="mensaje-error">
      El ID no puede ser mayor a 99999.
    </div>

    <button type="submit" [disabled]="buscarForm.invalid">Buscar</button>
  </form>

  <div *ngIf="usuarioEncontrado">
    <div class="section-form">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ search.id_user }}</td>
            <td>{{ search.nombre }}</td>
            <td>{{ search.apellido }}</td>
            <td>{{ search.correo }}</td>
            <td>{{ search.tipo_user }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="mensaje" class="mensaje-success">{{ mensaje }}</div>
  <div *ngIf="error" class="mensaje-error">{{ error }}</div>
</div>

<!-- DESACTIVAR USUARIO -->
<div *ngIf="selectedFilter === 'eliminar'" class="section-form">
  <h2>Eliminar Usuario</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="deleteUser(deleteForm.value.id_user)" class="form-group">
    
    <!-- ID Usuario -->
    <input type="number" formControlName="id_user" placeholder="ID del Usuario" required max="99999"
      oninput="this.value=this.value.slice(0,5)"
      [ngClass]="{'input-error': deleteForm.get('id_user')?.invalid && deleteForm.get('id_user')?.touched}" />
    <div *ngIf="deleteForm.get('id_user')?.errors?.['required'] && deleteForm.get('id_user')?.touched" class="mensaje-error">
      El ID del usuario es obligatorio.
    </div>
    <div *ngIf="deleteForm.get('id_user')?.errors?.['max'] && deleteForm.get('id_user')?.touched" class="mensaje-error">
      El ID no puede ser mayor a 99999.
    </div>

    <button type="submit" [disabled]="deleteForm.invalid">Desactivar</button>
  </form>

</div>

<!-- LISTADO DE USUARIOS -->
<div class="section-form">
  <h2>Usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id_user }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.apellido }}</td>
        <td>{{ u.correo }}</td>
        <td>{{ u.tipo_user }}</td>
      </tr>
    </tbody>
  </table>
</div>
