<div class="filtros">
  <h2 (click)="toggleFilterOptions()">Gestión de Productos de venta</h2>
  <div class="btn-filtros" *ngIf="filterOptionsVisible">
    <button (click)="selectFilter('crear')">Crear Producto</button>
    <button (click)="selectFilter('editar')">Editar Producto</button>
  </div>
</div>

<div *ngIf="selectedFilter === 'crear'" class="section-form">
  <h2>Crear Producto</h2>
  <form [formGroup]="createForm" (ngSubmit)="createProduct()" class="form-group">

    <input formControlName="nombre" placeholder="Nombre del Producto" type="text"
      maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$" required
      [ngClass]="{'input-error': createForm.get('nombre')?.invalid && createForm.get('nombre')?.touched}" />
    <div *ngIf="createForm.get('nombre')?.invalid && createForm.get('nombre')?.touched" class="mensaje-error">
      Nombre inválido. Solo letras, máximo 30 caracteres.
    </div>

    <input formControlName="descripcion" placeholder="Descripción" type="text"
      maxlength="300" required
      [ngClass]="{'input-error': createForm.get('descripcion')?.invalid && createForm.get('descripcion')?.touched}" />
    <div *ngIf="createForm.get('descripcion')?.invalid && createForm.get('descripcion')?.touched" class="mensaje-error">
      Descripción requerida (máx. 300 caracteres).
    </div>

    <input formControlName="valor_unitario" placeholder="Valor Unitario" type="number"
      min="0" max="99999999" oninput="this.value=this.value.slice(0,8)" required
      [ngClass]="{'input-error': createForm.get('valor_unitario')?.invalid && createForm.get('valor_unitario')?.touched}" />
    <div *ngIf="createForm.get('valor_unitario')?.invalid && createForm.get('valor_unitario')?.touched" class="mensaje-error">
      Solo números positivos (máx. 8 dígitos).
    </div>

    <input formControlName="proveedor" placeholder="Proveedor" type="text"
      maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$" required
      [ngClass]="{'input-error': createForm.get('proveedor')?.invalid && createForm.get('proveedor')?.touched}" />
    <div *ngIf="createForm.get('proveedor')?.invalid && createForm.get('proveedor')?.touched" class="mensaje-error">
      Proveedor inválido. Solo letras, máximo 30 caracteres.
    </div>

    <input formControlName="cantidad_disponible" placeholder="Cantidad Disponible" type="number"
      min="0" max="99999999" oninput="this.value=this.value.slice(0,8)"
      [ngClass]="{'input-error': createForm.get('cantidad_disponible')?.invalid && createForm.get('cantidad_disponible')?.touched}" />

    <input formControlName="cantidad_reservada" placeholder="Cantidad Reservada" type="number"
      min="0" max="99999999" oninput="this.value=this.value.slice(0,8)"
      [ngClass]="{'input-error': createForm.get('cantidad_reservada')?.invalid && createForm.get('cantidad_reservada')?.touched}" />

    <input formControlName="hora_actualizacion" type="time"
      [ngClass]="{'input-error': createForm.get('hora_actualizacion')?.invalid && createForm.get('hora_actualizacion')?.touched}" />

    <input formControlName="ultima_actualizacion" type="date"
      [ngClass]="{'input-error': createForm.get('ultima_actualizacion')?.invalid && createForm.get('ultima_actualizacion')?.touched}" />

    <button type="submit">Crear</button>
  </form>

  <div *ngIf="mensaje" class="mensaje-success">{{ mensaje }}</div>
  <div *ngIf="error" class="mensaje-error">{{ error }}</div>
</div>

<div *ngIf="selectedFilter === 'editar'" class="section-form">
  <h2>Editar Producto</h2>
  <form [formGroup]="editForm" (ngSubmit)="updateProduct()" class="form-group">

    <input type="number" formControlName="id_prod" placeholder="ID del Producto"
      min="0" max="99999999" oninput="this.value=this.value.slice(0,8)"
      [ngClass]="{'input-error': editForm.get('id_prod')?.invalid && editForm.get('id_prod')?.touched}" />

    <input type="text" formControlName="nombre" placeholder="Nuevo Nombre"
      maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      [ngClass]="{'input-error': editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched}" />

    <input type="text" formControlName="descripcion" placeholder="Nueva Descripción"
      maxlength="300"
      [ngClass]="{'input-error': editForm.get('descripcion')?.invalid && editForm.get('descripcion')?.touched}" />

    <input type="number" formControlName="valor_unitario" placeholder="Nuevo Valor Unitario"
      min="0" max="999999999999999" oninput="this.value=this.value.slice(0,15)"
      [ngClass]="{'input-error': editForm.get('valor_unitario')?.invalid && editForm.get('valor_unitario')?.touched}" />
    <div *ngIf="editForm.get('valor_unitario')?.invalid && editForm.get('valor_unitario')?.touched" class="mensaje-error">
      Solo números positivos (máx. 8 dígitos).
    </div>

    <input type="text" formControlName="proveedor" placeholder="Nuevo Proveedor"
      maxlength="30" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{1,30}$"
      [ngClass]="{'input-error': editForm.get('proveedor')?.invalid && editForm.get('proveedor')?.touched}" />

    <input type="number" formControlName="cantidad_total" placeholder="Cantidad Total"
      min="0" max="999999999999999" oninput="this.value=this.value.slice(0,15)"
      [ngClass]="{'input-error': editForm.get('cantidad_total')?.invalid && editForm.get('cantidad_total')?.touched}" />

    <input type="text" formControlName="img" placeholder="Imagen URL"
      [ngClass]="{'input-error': editForm.get('img')?.invalid && editForm.get('img')?.touched}" />

    <input type="number" formControlName="id_stock" placeholder="ID del Stock"
      min="0" max="99999999" oninput="this.value=this.value.slice(0,8)"
      [ngClass]="{'input-error': editForm.get('id_stock')?.invalid && editForm.get('id_stock')?.touched}" />

    <button type="submit">Actualizar</button>
  </form>

  <div *ngIf="mensaje" class="mensaje-success">{{ mensaje }}</div>
  <div *ngIf="error" class="mensaje-error">{{ error }}</div>
</div>

<div class="section-form">
  <h2>Productos con socket</h2>
  <table>
    <thead>
      <tr>
        <th>ID Producto</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Valor Unitario</th>
        <th>Proveedor</th>
        <th>ID Stock</th>
        <th>Cantidad Disponible</th>
        <th>Cantidad Reservada</th>
        <th>Hora Actualización</th>
        <th>Última Actualización</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.id_prod }}</td>
        <td>{{ prod.nom_prod }}</td>
        <td>{{ prod.descripcion }}</td>
        <td>{{ prod.valor_unitario | currency:'COP' }}</td>
        <td>{{ prod.proveedor }}</td>
        <td>{{ prod.id_stock }}</td>
        <td>{{ prod.cantidad_disponible }}</td>
        <td>{{ prod.cantidad_reservada }}</td>
        <td>{{ prod.hora_actualizacion }}</td>
        <td>{{ prod.ultima_actualizacion }}</td>
      </tr>
    </tbody>
  </table>
</div>
