<div class="filtros">
  <h2 (click)="toggleFilterOptions()">Gestion del Stock</h2>
  <div class="btn-filtros" *ngIf="filterOptionsVisible">
    <button (click)="selectFilter('crear')">Crear Stock</button>
    <button (click)="selectFilter('eliminar')">Eliminar Stock</button>
    <button (click)="selectFilter('buscar')">Buscar Stock</button>
  </div>
</div>

<div *ngIf="selectedFilter === 'crear'" class="section-form">
  <h2>Crear Stock</h2>
  <form [formGroup]="stockForm" (ngSubmit)="createStock()" class="form-group">
    <input type="number" formControlName="id" placeholder="ID Stock" />
    <input type="number" formControlName="fk_prod" placeholder="ID Producto" />
    <input type="number" formControlName="cantidad_total" placeholder="Cantidad Total" />
    <input type="number" formControlName="cantidad_disponible" placeholder="Cantidad Disponible" />
    <input type="number" formControlName="cantidad_reservada" placeholder="Cantidad Reservada" />
    <input type="date" formControlName="ultima_actualizacion" />
    <input type="time" formControlName="hora_actualizacion" />
    <button type="submit">Crear</button>
  </form>
</div>

<div *ngIf="selectedFilter === 'eliminar'" class="section-form">
  <h2>Eliminar Stock</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="deleteStock()" class="form-group">
    <input type="number" formControlName="id" placeholder="ID del Stock a Eliminar" />
    <button type="submit">Eliminar</button>
  </form>
</div>

<div *ngIf="selectedFilter === 'buscar'" class="section-form">
  <h2>Buscar Stock</h2>
  <form [formGroup]="searchForm" (ngSubmit)="searchStock()" class="form-group">
    <input type="number" formControlName="id" placeholder="ID del Stock a Buscar" />
    <button type="submit">Buscar</button>
  </form>

  <div *ngIf="stockEncontrado" class="section-form">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>ID Producto</th>
          <th>Total</th>
          <th>Disponible</th>
          <th>Reservado</th>
          <th>Última Actualización</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ searchResult.id_stock }}</td>
          <td>{{ searchResult.fk_prod }}</td>
          <td>{{ searchResult.cantidad_total }}</td>
          <td>{{ searchResult.cantidad_disponible }}</td>
          <td>{{ searchResult.cantidad_reservada }}</td>
          <td>{{ searchResult.ultima_actualizacion }}</td>
          <td>{{ searchResult.hora_actualizacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div *ngIf="mensaje" class="mensaje-success">{{ mensaje }}</div>
<div *ngIf="error" class="mensaje-error">{{ error }}</div> -->

<div class="section-form">
  <h2>Stock</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Producto</th>
        <th>Total</th>
        <th>Disponible</th>
        <th>Reservado</th>
        <th>Última Actualización</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockList">
        <td>{{ stock.id_stock }}</td>
        <td>{{ stock.fk_prod }}</td>
        <td>{{ stock.cantidad_total }}</td>
        <td>{{ stock.cantidad_disponible }}</td>
        <td>{{ stock.cantidad_reservada }}</td>
        <td>{{ stock.ultima_actualizacion }}</td>
        <td>{{ stock.hora_actualizacion }}</td>
      </tr>
    </tbody>
  </table>
</div>
