<div class="container">

  <div class="reset-container">
    <h2>Restablecer contraseña</h2>

    <div *ngIf="error" class="error">{{ error }}</div>
    <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>

    <input type="password" [(ngModel)]="nuevaContrasena" placeholder="Nueva contraseña"
      pattern="^(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$"
      title="Debe tener al menos 6 caracteres, una mayúscula y un carácter especial." />
      
    <input type="password" [(ngModel)]="confirmarContrasena" placeholder="Confirmar contraseña"
      pattern="^(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$"
      title="Debe tener al menos 6 caracteres, una mayúscula y un carácter especial." />

    <button (click)="resetearContrasena()">Enviar</button>
  </div>
</div>