<div class="option">
    <div 
      (click)="seleccionarVista('general')" 
      [class.activo]="vistaSeleccionada === 'general'" 
      [class.texto-blanco]="vistaSeleccionada === 'general'">
      General
    </div>
    <div 
      (click)="seleccionarVista('ventas')" 
      [class.activo]="vistaSeleccionada === 'ventas'" 
      [class.texto-blanco]="vistaSeleccionada === 'ventas'">
      Ventas
    </div>
    <div 
      (click)="seleccionarVista('usuarios')" 
      [class.activo]="vistaSeleccionada === 'usuarios'" 
      [class.texto-blanco]="vistaSeleccionada === 'usuarios'">
      Usuarios
    </div>
  </div>

  <div *ngIf="vistaSeleccionada === 'general'">
    <app-general></app-general>
  </div>
  
  <div *ngIf="vistaSeleccionada === 'ventas'">
    <app-sales></app-sales>
  </div>
  
  <div *ngIf="vistaSeleccionada === 'usuarios'">
    <app-users></app-users>
  </div>
  
  