<div class="container">
  
  <div class="img-container">

    <img src="fondos/fondo.png" alt="fondo" class="fondo">
    
    <h2>Bienvenido a Flappy Technology S.A.S.</h2>
    <p>
      En nuestra etapa de expansión y mejora, hemos identificado retos importantes que estamos resolviendo con esta nueva plataforma:
    </p>

    <p>
      ¡Gracias por ser parte de nuestra evolución tecnológica!
    </p>
  </div>

  <div class="imf-product">
    <h2>Productos</h2>

    <div class="img-show">
      <img src="productos/img-graficas.png" alt="logo" class="logo_show" (click)="goToLogin()"/>
      <img src="productos/img-portatil.png" alt="logo" class="logo_show" (click)="goToLogin()"/>
      <img src="productos/img-reloj.png" alt="logo" class="logo_show" (click)="goToLogin()"/>
      <img src="productos/img-TV-LG.png" alt="logo" class="logo_show" (click)="goToLogin()"/>
    </div>
    
  </div>
</div>

<app-footer></app-footer>